@model IEnumerable<Doanphanmem.Models.SanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<Doanphanmem.Models.PhanLoai> categories = ViewBag.ListCategory as List<Doanphanmem.Models.PhanLoai>;

}

<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>Shop Category</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shop Category</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->
@*<style>
        :root {
            --maudo: RGB(255, 205, 210);
        }

        .card-equal-height {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

            .card-equal-height .card-body {
                flex-grow: 1;
            }
    </style>


    <div id="demo" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        </div>


        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Image/bannernew1.png" alt="" class="d-block w-100" style="height: 450px; object-position: center;">
            </div>
            <div class="carousel-item active">
                <img src="~/Image/bannernew2.png" alt="" class="d-block w-100" style="height: 450px; object-position: center;">
            </div>
            <div class="carousel-item active">
                <img src="~/Image/bannernew3.png" alt="" class="d-block w-100" style="height: 450px; object-position: center;">
            </div>
        </div>


        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>*@

<!-- ================ category section start ================= -->
<section class="section-margin--small mb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-5">
                <div class="sidebar-categories">
                    <div class="head">Thương hiệu điện thoại</div>
                    <ul class="main-categories">
                        <li class="common-filter">
                            <form action="#">
                                <ul>
                                    @Html.Action("layloaisp", "SanPhams")
                                    @*<li class="filter-list"><input class="pixel-radio" type="radio" id="men" name="brand"><label for="men">Men</label></li>
                                    <li class="filter-list"><input class="pixel-radio" type="radio" id="women" name="brand"><label for="women">Women<span> (3600)</span></label></li>*@
                                </ul>
                            </form>
                        </li>
                    </ul>
                </div>
                <div class="sidebar-filter">
                    <div class="top-filter-head">Filter</div>
                    <div class="common-filter">
                        <div class="head">Tầm giá</div>
                        <form action="#">
                            <ul>
                                <li class="filter-list">
                                    <input class="pixel-radio" type="radio" id="apple" name="brand">
                                    <a style="color: #777" href="@Url.Action("locgia", "SanPhams", new { gia = 2000000 } )">Dưới 2 triệu</a>
                                </li>
                            </ul>
                        </form>
                    </div>
                    <div class="common-filter">
                        <div class="head">Dung lượng</div>
                        <form action="#">
                            <ul>
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="black" name="color"><label for="black">Black<span>(29)</span></label></li>
                                <li class="filter-list">
                                    <input class="pixel-radio" type="radio" id="balckleather" name="color"><label for="balckleather">
                                        Black
                                        Leather<span>(29)</span>
                                    </label>
                                </li>
                                <li class="filter-list">
                                    <input class="pixel-radio" type="radio" id="blackred" name="color"><label for="blackred">
                                        Black
                                        with red<span>(19)</span>
                                    </label>
                                </li>
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="gold" name="color"><label for="gold">Gold<span>(19)</span></label></li>
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="spacegrey" name="color"><label for="spacegrey">Spacegrey<span>(19)</span></label></li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-7">

                <!-- Start Best Seller -->
                <section class="lattest-product-area pb-40 category-list">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            decimal price = (decimal)item.GiaSp;
                            <div class="col-md-6 col-lg-4">
                                <div class="card text-center card-product">
                                    <div class="card-product__img">
                                        <img class="card-img" src="~/Image/@item.Hinh1" alt="">

                                        <ul class="card-product__imgOverlay">
                                            <li>
                                                <a href="@Url.Action("AddProduct","GioHang", new {MaSP=item.MaSP})"><i class="ti-shopping-cart"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-body">
                                        <p>@item.PhanLoai.Tenloai</p>
                                        <h4 class="card-product__title"><a href="/SanPhams/Details/@item.MaSP">@item.TenSP</a></h4>
                                        <p class="card-product__price"> @string.Format("{0:#,##0} VND", item.GiaSp)</p>
                                    </div>
                                </div>
                            </div>

                        }

                    </div>
                </section>
                <!-- End Best Seller -->
            </div>
        </div>
    </div>
</section>
<!-- ================ category section end ================= -->
<!-- ================ Blog section start ================= -->
<section class="blog">
    <div class="container">
        <div class="section-intro pb-60px">
            <h2>Tin tức <span class="section-intro__style">News</span></h2>
        </div>

        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="card card-blog">
                    <div class="card-blog__img">
                        <img class="card-img rounded-0" src="~/Image/ios.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <h4 class="card-blog__title"><a href="https://www.thegioididong.com/tin-tuc/day-la-nhung-thay-doi-trong-ios-17-2-beta-2-1554680">Đây là những thay đổi trong iOS 17.2 Beta 2 mà Apple vừa phát hành công khai</a></h4>
                        <p>Apple mới đây đã chính thức phát hành công khai phiên bản iOS 17.2 và iPadOS 17.2 Beta 2. Cho phép những người dùng không phải...</p>
                        <a class="card-blog__link" href="https://www.thegioididong.com/tin-tuc/day-la-nhung-thay-doi-trong-ios-17-2-beta-2-1554680">Read More <i class="ti-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="card card-blog">
                    <div class="card-blog__img">
                        <img class="card-img rounded-0" src="~/Image/gg.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <h4 class="card-blog__title"><a href="https://www.thegioididong.com/tin-tuc/google-cap-nhat-giao-dien-moi-cho-chrome-1554619">Google cập nhật giao diện mới, đậm chất Material You cho Chrome</a></h4>
                        <p>Mới đây, nhiều người dùng Chrome đã được sử dụng giao diện mới trên trình duyệt, một thay đổi mà...</p>
                        <a class="card-blog__link" href="https://www.thegioididong.com/tin-tuc/google-cap-nhat-giao-dien-moi-cho-chrome-1554619">Read More <i class="ti-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="card card-blog">
                    <div class="card-blog__img">
                        <img class="card-img rounded-0" src="~/Image/oppo.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <h4 class="card-blog__title"><a href="https://vnexpress.net/iphone-15-pro-max-thua-galaxy-s23-ultra-khi-tha-roi-4660100.html">OPPO Reno11 Series lộ ảnh render, camera có công nghệ do OPPO phát triển</a></h4>
                        <p>Sáu tháng sau khi ra mắt dòng OPPO Reno10, OPPO đã có kế hoạch ra mắt thế hệ tiếp theo của dòng máy này...</p>
                        <a class="card-blog__link" href="https://vnexpress.net/iphone-15-pro-max-thua-galaxy-s23-ultra-khi-tha-roi-4660100.html">Read More <i class="ti-arrow-right"></i></a>
                    </div>
                </div>
            </div>



        </div>
    </div>
</section>
<!-- ================ Blog section end ================= -->

