<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LYT Shop</title>
    <link rel="icon" href="~/Image/LogoLYT.png" type="image/png">
    <link rel="stylesheet" href="~/Content/Home/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Home/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/Content/Home/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="~/Content/Home/vendors/linericon/style.css">
    <link rel="stylesheet" href="~/Content/Home/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/Home/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/Home/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="~/Content/Home/vendors/nouislider/nouislider.min.css">

    <link rel="stylesheet" href="~/Content/Home/css/style.css">
</head>
<body>
    <!--================ Start Header Menu Area =================-->
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <a class="navbar-brand logo_h" href="~/SanPhams/Index"><img src="~/Image/LogoLYT.png" style="height:70px" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @if (Session["UserID"] != null)
                    {
                        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                            <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                                <li class="nav-item"><a class="nav-link" href="~/SanPhams/Index">Trang chủ</a></li>
                                <li class="nav-item submenu dropdown">
                                    <a href="~/Content/Home/#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                       aria-expanded="false">Điện thoại</a>
                                    <ul class="dropdown-menu">
                                        @Html.Action("layloaisp_layout", "SanPhams")
                                    </ul>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="/Home/ThongTin">Thông tin cửa hàng</a></li>
                                
                            </ul>
                            <ul class="nav-shop">
                                <li class="nav-item">
                                    @using (Html.BeginForm("Index", "SanPhams", FormMethod.Get))
                                    {
                                        <input type="text" placeholder="Bạn cần tìm gì?" name="SearchString" required>
                                        <i class="ti-search"></i>
                                    }
                                </li>
                                <li class="nav-item"> @Html.Action("GiohangPartial", "GioHang")</li>
                                <li class="nav-item"><a class="button button-header">@Session["UserName"]</a></li>

                            </ul>
                            <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                                <li class="nav-item submenu dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                       aria-expanded="false"><i class="ti-menu"></i></a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a class="nav-link" href="/YeuThich/FavoriteList">Yêu thích</a></li>
                                        <li class="nav-item"><a class="nav-link" href="@Url.Action("DonHangKH", "SanPhams", new { IDCus = @HttpContext.Current.Session["UserID"].ToString() })">Đơn hàng</a></li>
                                        <li class="nav-item"> <a class="nav-link" href="@Url.Action("Edit", "KhachHang", new { id = Session["UserID"]  })">Thông tin</a></li>
                                        <li class="nav-item"><a class="nav-link" href="/Account/Logout">Đăng xuất</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    }
                    else
                    {
                        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                            <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                                <li class="nav-item"><a class="nav-link" href="~/SanPhams/Index">Trang chủ</a></li>
                                <li class="nav-item submenu dropdown">
                                    <a href="~/Content/Home/#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                       aria-expanded="false">Điện thoại</a>
                                    <ul class="dropdown-menu">
                                        @Html.Action("layloaisp_layout", "SanPhams")
                                    </ul>
                                </li>
                                <li class="nav-item"><a class="nav-link" href="/Home/ThongTin">Thông tin cửa hàng</a></li>
                                <li class="nav-item"><a class="nav-link" href="/Account/ChatOnline">Hỏi đáp</a></li>
                            </ul>
                            <ul class="nav-shop">
                                <li class="nav-item">
                                    @using (Html.BeginForm("Index", "SanPhams", FormMethod.Get))
                                    {
                                        <input type="text" placeholder="Bạn cần tìm gì?" name="SearchString" required>
                                        <i class="ti-search"></i>
                                    }
                                </li>
                                <li class="nav-item"> @Html.Action("GiohangPartial", "GioHang")</li>
                                <li class="nav-item submenu dropdown"><a class="button button-header" href="/Account/Login">Đăng nhập</a> </li>
                            </ul>
                        </div>
                    }
                </div>
            </nav>
        </div>
    </header>
    <!--================ End Header Menu Area =================-->

    <div>
        @RenderBody()
    </div>

    <!--================ Start footer Area  =================-->
    <footer>
        <div class="footer-area">
            <div class="container">
                <div class="row section_gap">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title large_title">Our Mission</h4>
                            <p>
                                So seed seed green that winged cattle in. Gathering thing made fly you're no
                                divided deep moved us lan Gathering thing us land years living.
                            </p>
                            <p>
                                So seed seed green that winged cattle in. Gathering thing made fly you're no divided deep moved
                            </p>
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title">Quick Links</h4>
                            <ul class="list">
                                <li><a href="~/Content/Home/#">Home</a></li>
                                <li><a href="~/Content/Home/#">Shop</a></li>
                                <li><a href="~/Content/Home/#">Blog</a></li>
                                <li><a href="~/Content/Home/#">Product</a></li>
                                <li><a href="~/Content/Home/#">Brand</a></li>
                                <li><a href="~/Content/Home/#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget instafeed">
                            <h4 class="footer_title">Gallery</h4>
                            <ul class="list instafeed d-flex flex-wrap">
                                <li><img style="height:65px; width:65px" src="~/Image/Gallery/applelogo.png" /></li>
                                <li><img style="height:65px; width:65px" src="~/Image/Gallery/samsung-logo.png" /></li>
                                <li><img style="height:65px; width:65px" src="~/Image/Gallery/oppologo.png" /></li>
                                <li><img style="height:65px; width:65px" src="~/Image/Gallery/gglogo.png" /></li>
                                <li><img style="height:65px; width:65px" src="~/Image/Gallery/logo-Huawei.png" /></li>
                                <li><img style="height:65px; width:65px" src="~/Image/Gallery/xiaomilogo.png" /></li>

                            </ul>
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title">Contact Us</h4>
                            <div class="ml-40">
                                <p class="sm-head">
                                    <span class="fa fa-location-arrow"></span>
                                    Head Office
                                </p>
                                <p>123, Main Street, Your City</p>

                                <p class="sm-head">
                                    <span class="fa fa-phone"></span>
                                    Phone Number
                                </p>
                                <p>
                                    +123 456 7890 <br>
                                    +123 456 7890
                                </p>

                                <p class="sm-head">
                                    <span class="fa fa-envelope"></span>
                                    Email
                                </p>
                                <p>
                                    free@infoexample.com <br>
                                    www.infoexample.com
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row d-flex">
                    <p class="col-lg-12 footer-text text-center">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="~/Content/Home/https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!--================ End footer Area  =================-->

    <script src="~/Content/Home/vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="~/Content/Home/vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/Content/Home/vendors/skrollr.min.js"></script>
    <script src="~/Content/Home/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Content/Home/vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="~/Content/Home/vendors/nouislider/nouislider.min.js"></script>
    <script src="~/Content/Home/vendors/jquery.ajaxchimp.min.js"></script>
    <script src="~/Content/Home/vendors/mail-script.js"></script>
    <script src="~/Content/Home/js/main.js"></script>
</body>
</html>
